<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <script src="{{ asset('build/modernizr.js') }}"></script>
    </head>

    <body>
        <header>
            <nav class="title-bar" data-responsive-toggle="main-navigation" data-hide-for="medium">
                <button class="menu-icon" type="button" data-toggle="main-navigation"></button>
                <div class="title-bar-title">Menu</div>
            </nav>

            <nav class="top-bar" id="main-navigation">
                <section class="top-bar-left hide-for-small-only">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li><a href="/" class="logo">Top 2000 - Databank</a></li>
                    </ul>
                </section>

                <section class="top-bar-right">
                    {{ knp_menu_render('main') }}
                </section>
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <div class="grid-x callout secondary">
                <div class="cell small-12 medium-12 large-4">
                    <h5>POPULAIRE ARTIESTEN</h5>
                    <p>Onderstaande artiesten komen tot nu toe het meest voor in de Top 2000. Klik op de naam van een artiest om de noteringen te bekijken</p>
                </div>
                <div class="cell small-12 medium-12 large-4">
                    <h5>ALLE JAREN OP EEN RIJ</h5>
                    <p>De Top 2000 wordt sinds 1999 samengesteld door de stemmen van de luisteraar. Bekijk hieronder de lijst per jaar.</p>
                </div>
                <div class="cell small-12 medium-12 large-4">
                    <h5>OVER DE MAKER</h5>
                    <p>Sjors Keuninkx is al jaren groot fan van de Top 2000. Hij heeft een achtergrond in de IT en wilde kijken wat hij allemaal kon maken met de data, die de Top 2000 in de afgelopen jaren heeft opgeleverd. Het resultaat bekijk je nu.</p>
                    <p>Alle getoonde informatie is afkomstig van <a href="https://nl.wikipedia.org/wiki/Lijst_van_Radio_2-Top_2000%27s" target="_blank">deze Wikipedia-pagina</a>.</p>
                </div>
            </div>

            <div class="grid-x">
                <div class="cell medium-6 large-6">
                    {{ knp_menu_render('footer') }}
                </div>
                <div class="cell medium-6 large-6">
                    <ul class="menu align-right">
                        <li class="menu-text">&copy; 2019 - Sjors Keuninkx</li>
                    </ul>
                </div>
            </div>
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
